{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">Ce projet permet de commencer à travailler avec tous de qu'il vous faut pour Symfony 5 !</p>
            <hr class="my-4">
            <p>N'oubliez pas de-vous réferer à la doc ;) </p>
            <a class="btn btn-primary btn-lg" href="https://www.symfony.com" role="button" target="_blank">Docs Symfony</a>
        </div>
    </div>
{% endblock %}
