{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminDashboardController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello, Admin!</h1>
            <p class="lead">Bienvenue sur le Dashboard du système d'administration</p>
            <hr class="my-4">
            <p>Rdv-vous dans src/Controller/Admin et templates/admin pour personnaliser l'administration du site </p>
        </div>
    </div>
{% endblock %}
